// @lpurple : #e5e4f0;
// @dpurple : #a19be0;
@lpurple: #C3C3E5;
@dpurple: #8C489F;

@lpink : #f6cec7;
@dpink : #f2a797;

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-size: 13px;
}
div#google-maps {
	height: 100%;
	width: 100%;
}
.lighthouse{
     width: 60px;
     height: 110px;
     background-size: 100% 100%;
}

/*
 * Smart Phones - Mobile First
 */
.main-container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	cursor: pointer;

     h1{
          text-align: center;
          font-family: 'Satisfy', cursive;
          color: @dpurple;
          font-size: 2rem;
     }
	.header{
		width: 100%;
		height: 4rem;
		background: @dpurple;
		position: absolute;
		top: 0;

		hr{
			position: absolute;
			bottom: 0;
			width: 100%;
               border: 0px;
			border-top: 3px solid @lpurple;
		}
	}
	.center-container{
		position: relative;
		top: 10%;
		margin: auto;
		width: 100%;

		.splash-container{
			width: 65%;
			margin: auto;

			.banner-container{
				font-family: 'Open Sans', sans-serif;
				position: relative;
				width: 100%;
				margin: auto;
				text-align: center;

				.banner-left{
					width: 0px;
					height: 65px;
					border-right: 40px solid @dpurple;
					border-bottom: 30px solid transparent;
					position: absolute;
					z-index: 2;
					left: 0;
					top: 0;
				}
				.banner-right{
					width: 0px;
					height: 65px;
					border-left: 40px solid @dpurple;
					border-bottom: 30px solid transparent;
					position: absolute;
					z-index: 2;
					right: 0;
					top: 0;
				}
				.banner-date{
					background: @lpurple;
					color: #fff;
					z-index: 3;
					position: relative;
					line-height: 4rem;
					padding: 0 30px;
					line-height: 5rem;
					padding: 0 15px;
                         -webkit-box-shadow: 1px -1px 19px 0px rgba(0,0,0,0.15);
                         -moz-box-shadow: 1px -1px 19px 0px rgba(0,0,0,0.15);
                         box-shadow: 1px -1px 19px 0px rgba(0,0,0,0.15);

					h2{
						font-size: 3rem;
						text-shadow: 1px 1px 1px #ccc;
					}
				}
				.banner-left-strip, {
					position: relative;
					top: 0;
					left: 0;
					z-index: 1;
				}
				.banner-right-strip{
					right:0;
					top: 0;
					position: relative;
					z-index: 1;
				}
		/*
		 * Banner Strip Before:After Start
		 */
				.banner-left-strip:before, .banner-left-strip:after, .banner-right-strip:before, .banner-right-strip:after{
					content: " ";
					position: absolute;
					height: 0px;
					z-index: -1;
				}
				.banner-left-strip:before, .banner-left-strip:after{
					top: 35px;
					left: -50px;
					border-left: 30px solid transparent;
				}
				.banner-left-strip:before{
					border-top: 30px solid @lpurple;
					width: 30px;
				}
				.banner-left-strip:after{
					border-bottom: 30px solid @lpurple;
					width: 60px;
					top: 65px;
				}
				.banner-right-strip:before, .banner-right-strip:after{
					border-right: 30px solid transparent;
				}
				.banner-right-strip:before{
					border-top: 30px solid @lpurple;
					width: 60px;
					top: -60px;
					right: -50px;
				}
				.banner-right-strip:after {
					border-bottom: 30px solid @lpurple;
					width: 60px;
					top: -30px;
					right: -50px;
				}
		/*
		 * Banner Strip Before:After End
		 */

			}
		}


		.reception-information{
			text-align: center;
			position: relative;
			top: -25px;
			font-family: 'Roboto', sans-serif;
			text-transform: uppercase;
			width: 90%;
			margin: auto;

			h2{
				color: @dpurple;
			}
			.cursive{
				font-family: 'Satisfy', cursive;
				text-transform: none;
				font-size: 1.5rem;
				letter-spacing: 1.8px;
				text-shadow: 1px 1px 3px #ccc;
			}
			.time-container{

				hr, p{
					display: inline-block;
				}
				hr{
					border: 0px;
					border-bottom: 1px solid black;
					width: 10%;
				}
				p{
					letter-spacing: -0.3px;
					font-size: 1.3rem;
					font-weight: 100;
					text-shadow: 1px 1px 1px #ccc;
					width: 55%;
				}
			}
			.location-banner{
				background: @lpurple;
				text-shadow: 1px 1px 1px #ccc;
                    width: 75%;
                    margin: auto;

				.left-wing:before, .left-wing:after, .right-wing:before, .right-wing:after {
					position: absolute;
					content: " ";
					z-index: 4;
					height: 0px;
					width: 20px;
				}

				.left-wing{
					position: relative;
				}
				.left-wing:before{
					border-top: 20px solid @lpurple;
					border-left: 15px solid transparent;
					left: -20px;
				}

				h4{
					color: #fff;
                         line-height: 1.5rem;
				}
			}
		}
	}
}

/*
* Modal CSS
*/
.modal {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1040;
     display: none;
     overflow: hidden;
     -webkit-overflow-scrolling: touch;
     outline: 0;
}
.fade {
     opacity: 0;
     -webkit-transition: opacity .15s linear;
     -o-transition: opacity .15s linear;
     transition: opacity .15s linear;
}
.fade.in {
     opacity: 1;
}
.modal-backdrop {
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     background-color: #000;
}
.modal-backdrop.in {
     filter: alpha(opacity=50);
     opacity: .5;
}
.modal-open .modal {
     overflow-x: hidden;
     overflow-y: auto;
}

/*
 * Tablets
 */
@media(min-width:481px){
	.main-container{

		.center-container{

			.splash-container{

				.banner-container{



				}
			}

			.reception-information{
				top: -30px;

				h2{
					font-size: 2rem;
				}
                    .cursive{
                         font-size: 2rem;
                    }
				.time-container{

					p{
						font-size: 1.7rem;
						width: 50%;
                              margin: 0;
					}
				}
				.location-banner{

					h4{
						font-size: 1.5rem;
                              line-height: 2rem;
					}
				}
			}
		}

	}
}
/*
 * Desktop
 */
@media(min-width:769px){
	.main-container{

          h1{
               font-size: 3rem;
          }
		.center-container{

			.splash-container{
				width: 50%;

				.banner-container{

					.banner-left{
						height: 130px;
						border-right: 70px solid @dpurple;
						border-bottom: 50px solid transparent;
					}
					.banner-right{
						height: 130px;
						border-left: 70px solid @dpurple;
						border-bottom: 50px solid transparent;
					}
					.banner-date{
						line-height: 10rem;
						padding: 0 60px;

						h2{
							font-size: 6rem;
						}
					}
					.banner-left-strip, {
						position: relative;
						top: 0;
						left: 0;
						z-index: 1;
					}
					.banner-right-strip{
						right:0;
						top: 0;
						position: relative;
						z-index: 1;
					}
			/*
			 * Banner Strip Before:After Start
			 */
					.banner-left-strip:before, .banner-left-strip:after, .banner-right-strip:before, .banner-right-strip:after{
						content: " ";
						position: absolute;
						height: 0px;
						z-index: -1;
					}
					.banner-left-strip:before, .banner-left-strip:after{
						top: 60px;
						left: -90px;
						border-left: 50px solid transparent;
					}
					.banner-left-strip:before{
						border-top: 60px solid @lpurple;
						width: 50px;
					}
					.banner-left-strip:after{
						border-bottom: 60px solid @lpurple;
						width: 110px;
						top: 120px;
					}
					.banner-right-strip:before, .banner-right-strip:after{
						border-right: 50px solid transparent;
					}
					.banner-right-strip:before{
						border-top: 60px solid @lpurple;
						width: 70px;
						top: -135px;
						right: -90px;
					}
					.banner-right-strip:after {
						border-bottom: 60px solid @lpurple;
						width: 110px;
						top: -75px;
						right: -90px;
					}
			/*
			 * Banner Strip Before:After End
			 */
				}
			}

			.reception-information{
				top: -55px;

				h2{
					font-size: 3rem;
				}
                    .curisve{
                         font-size: 2.5rem;
                    }
				.time-container{

					p{
						font-size: 2.3rem;
						width: 40%;
					}
				}
				.location-banner{
                         width: 55%;

					h4{
						font-size: 2rem;
                              line-height: 2.5rem;
					}
				}
			}
		}
	}
}

@media(min-width:1200px){
	.main-container{

		.center-container{

			.splash-container{
				width: 35%;

			}
		}
	}
}


/// bounceInDown keyframes
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

// bounceOutUp keyframes
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
  }
}

// fadeOut keyframes
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
          animation-name: bounceOutUp;
          -webkit-transition: 1s ease-out;
          transition: 1s ease-out;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}