html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 13px;
}
div#google-maps {
  height: 100%;
  width: 100%;
}
/*
 * Smart Phones - Mobile First
 */
.main-container {
  position: absolute;
  top: 20%;
  left: 20%;
}
.main-container .banner-container {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  /*
 * Banner Strip Before:After Start
 */
  /*
 * Banner Strip Before:After End
 */
}
.main-container .banner-container .banner-left {
  width: 0px;
  height: 65px;
  border-right: 40px solid #f2a797;
  border-bottom: 30px solid transparent;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.main-container .banner-container .banner-right {
  width: 0px;
  height: 65px;
  border-left: 40px solid #f2a797;
  border-bottom: 30px solid transparent;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.main-container .banner-container .banner-date {
  background: #f6cec7;
  color: #fff;
  z-index: 3;
  position: relative;
  line-height: 4rem;
  padding: 0 30px;
  line-height: 5rem;
  padding: 0 15px;
}
.main-container .banner-container .banner-date h2 {
  font-size: 3rem;
}
.main-container .banner-container .banner-left-strip {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-container .banner-container .banner-right-strip {
  right: 0;
  top: 0;
  position: relative;
  z-index: 1;
}
.main-container .banner-container .banner-left-strip:before,
.main-container .banner-container .banner-left-strip:after,
.main-container .banner-container .banner-right-strip:before,
.main-container .banner-container .banner-right-strip:after {
  content: " ";
  position: absolute;
  height: 0px;
  z-index: -1;
}
.main-container .banner-container .banner-left-strip:before,
.main-container .banner-container .banner-left-strip:after {
  top: 35px;
  left: -50px;
  border-left: 30px solid transparent;
}
.main-container .banner-container .banner-left-strip:before {
  border-top: 30px solid #f6cec7;
  width: 30px;
}
.main-container .banner-container .banner-left-strip:after {
  border-bottom: 30px solid #f6cec7;
  width: 60px;
  top: 65px;
}
.main-container .banner-container .banner-right-strip:before,
.main-container .banner-container .banner-right-strip:after {
  border-right: 30px solid transparent;
}
.main-container .banner-container .banner-right-strip:before {
  border-top: 30px solid #f6cec7;
  width: 60px;
  top: -60px;
  right: -50px;
}
.main-container .banner-container .banner-right-strip:after {
  border-bottom: 30px solid #f6cec7;
  width: 60px;
  top: -30px;
  right: -50px;
}
/*
 * Tablets 
 */
@media (min-width: 481px) {
  .main-container .banner-container {
    /*
	 * Banner Strip Before:After Start
	 */
    /*
	 * Banner Strip Before:After End
	 */
  }
  .main-container .banner-container .banner-left {
    height: 130px;
    border-right: 70px solid #f2a797;
    border-bottom: 50px solid transparent;
  }
  .main-container .banner-container .banner-right {
    height: 130px;
    border-left: 70px solid #f2a797;
    border-bottom: 50px solid transparent;
  }
  .main-container .banner-container .banner-date {
    line-height: 10rem;
    padding: 0 60px;
  }
  .main-container .banner-container .banner-date h2 {
    font-size: 6rem;
  }
  .main-container .banner-container .banner-left-strip {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .main-container .banner-container .banner-right-strip {
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
  }
  .main-container .banner-container .banner-left-strip:before,
  .main-container .banner-container .banner-left-strip:after,
  .main-container .banner-container .banner-right-strip:before,
  .main-container .banner-container .banner-right-strip:after {
    content: " ";
    position: absolute;
    height: 0px;
    z-index: -1;
  }
  .main-container .banner-container .banner-left-strip:before,
  .main-container .banner-container .banner-left-strip:after {
    top: 60px;
    left: -90px;
    border-left: 50px solid transparent;
  }
  .main-container .banner-container .banner-left-strip:before {
    border-top: 60px solid #f6cec7;
    width: 50px;
  }
  .main-container .banner-container .banner-left-strip:after {
    border-bottom: 60px solid #f6cec7;
    width: 110px;
    top: 120px;
  }
  .main-container .banner-container .banner-right-strip:before,
  .main-container .banner-container .banner-right-strip:after {
    border-right: 50px solid transparent;
  }
  .main-container .banner-container .banner-right-strip:before {
    border-top: 60px solid #f6cec7;
    width: 70px;
    top: -135px;
    right: -90px;
  }
  .main-container .banner-container .banner-right-strip:after {
    border-bottom: 60px solid #f6cec7;
    width: 110px;
    top: -75px;
    right: -90px;
  }
}
/*
 * Desktop
 */
/*
==============================================
bounceInDown/bounceOutUp
==============================================
*/
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
