html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 13px;
}
div#google-maps {
  height: 100%;
  width: 100%;
}
.lighthouse {
  width: 60px;
  height: 110px;
  background-size: 100% 100%;
}
.glow {
  position: absolute;
  top: -10%;
  left: -97%;
  width: 300%;
}
.back-home.map {
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  color: #8c489f;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 3px;
  border: 1px solid #F5F5F5;
  box-shadow: 1px 1px 4px 0px #C8C8C8;
  font-family: 'Satisfy', cursive;
  cursor: pointer;
  z-index: 9999;
  display: none;
}
/*
 * Smart Phones - Mobile First
 */
.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.main-container img.compass {
  width: 50px;
  z-index: 9;
  position: absolute;
  right: 2%;
  bottom: 2%;
  opacity: 0.3;
}
.main-container img.compass:hover {
  opacity: 0.7;
}
.main-container h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color: #8c489f;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px #ccc;
}
.main-container .header {
  width: 100%;
  height: 4rem;
  background: #8c489f;
  position: absolute;
  top: 0;
}
.main-container .header hr {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0px;
  border-top: 3px solid #c3c3e5;
}
.main-container .center-container {
  position: relative;
  top: 10%;
  margin: auto;
  width: 100%;
}
.main-container .center-container .splash-container {
  width: 65%;
  margin: auto;
}
.main-container .center-container .splash-container .banner-container {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  /*
		 * Banner Strip Before:After Start
		 */
  /*
		 * Banner Strip Before:After End
		 */
}
.main-container .center-container .splash-container .banner-container .banner-left {
  width: 0px;
  height: 65px;
  border-right: 40px solid #8c489f;
  border-bottom: 30px solid transparent;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.main-container .center-container .splash-container .banner-container .banner-right {
  width: 0px;
  height: 65px;
  border-left: 40px solid #8c489f;
  border-bottom: 30px solid transparent;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.main-container .center-container .splash-container .banner-container .banner-date {
  background: #c3c3e5;
  color: #fff;
  z-index: 3;
  position: relative;
  line-height: 4rem;
  padding: 0 30px;
  line-height: 5rem;
  padding: 0 15px;
  -webkit-box-shadow: 1px -1px 19px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px -1px 19px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 1px -1px 19px 0px rgba(0, 0, 0, 0.15);
}
.main-container .center-container .splash-container .banner-container .banner-date h2 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px #ccc;
}
.main-container .center-container .splash-container .banner-container .banner-left-strip {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-container .center-container .splash-container .banner-container .banner-right-strip {
  right: 0;
  top: 0;
  position: relative;
  z-index: 1;
}
.main-container .center-container .splash-container .banner-container .banner-left-strip:before,
.main-container .center-container .splash-container .banner-container .banner-left-strip:after,
.main-container .center-container .splash-container .banner-container .banner-right-strip:before,
.main-container .center-container .splash-container .banner-container .banner-right-strip:after {
  content: " ";
  position: absolute;
  height: 0px;
  z-index: -1;
}
.main-container .center-container .splash-container .banner-container .banner-left-strip:before,
.main-container .center-container .splash-container .banner-container .banner-left-strip:after {
  top: 35px;
  left: -50px;
  border-left: 30px solid transparent;
}
.main-container .center-container .splash-container .banner-container .banner-left-strip:before {
  border-top: 30px solid #c3c3e5;
  width: 30px;
}
.main-container .center-container .splash-container .banner-container .banner-left-strip:after {
  border-bottom: 30px solid #c3c3e5;
  width: 60px;
  top: 65px;
}
.main-container .center-container .splash-container .banner-container .banner-right-strip:before,
.main-container .center-container .splash-container .banner-container .banner-right-strip:after {
  border-right: 30px solid transparent;
}
.main-container .center-container .splash-container .banner-container .banner-right-strip:before {
  border-top: 30px solid #c3c3e5;
  width: 60px;
  top: -60px;
  right: -50px;
}
.main-container .center-container .splash-container .banner-container .banner-right-strip:after {
  border-bottom: 30px solid #c3c3e5;
  width: 60px;
  top: -30px;
  right: -50px;
}
.main-container .center-container .reception-information {
  text-align: center;
  position: relative;
  top: -25px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
}
.main-container .center-container .reception-information h2 {
  color: #8c489f;
}
.main-container .center-container .reception-information .cursive {
  font-family: 'Satisfy', cursive;
  text-transform: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px #ccc;
}
.main-container .center-container .reception-information .time-container hr,
.main-container .center-container .reception-information .time-container p {
  display: inline-block;
}
.main-container .center-container .reception-information .time-container hr {
  border: 0px;
  border-bottom: 1px solid black;
  width: 10%;
}
.main-container .center-container .reception-information .time-container p {
  letter-spacing: -0.3px;
  font-size: 1.3rem;
  font-weight: 100;
  text-shadow: 1px 1px 1px #ccc;
  width: 60%;
}
.main-container .center-container .reception-information .location-banner {
  background: #c3c3e5;
  text-shadow: 1px 1px 1px #ccc;
  width: 85%;
  margin: auto;
}
.main-container .center-container .reception-information .location-banner .left-wing:before,
.main-container .center-container .reception-information .location-banner .left-wing:after,
.main-container .center-container .reception-information .location-banner .right-wing:before,
.main-container .center-container .reception-information .location-banner .right-wing:after {
  position: absolute;
  content: " ";
  z-index: 4;
  height: 0px;
  width: 20px;
}
.main-container .center-container .reception-information .location-banner .left-wing {
  position: relative;
}
.main-container .center-container .reception-information .location-banner .left-wing:before {
  border-top: 20px solid #c3c3e5;
  border-left: 15px solid transparent;
  left: -20px;
}
.main-container .center-container .reception-information .location-banner h4 {
  color: #fff;
  line-height: 1.5rem;
}
/*
* Modal CSS
*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal .modal-body {
  width: 80%;
  margin: 15px auto;
  z-index: 99;
  position: relative;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 1px 1px 10px 1px #3F3F3F;
  -moz-box-shadow: 1px 1px 10px 1px #3F3F3F;
  -ms-box-shadow: 1px 1px 10px 1px #3F3F3F;
  -o-box-shadow: 1px 1px 10px 1px #3F3F3F;
  box-shadow: 1px 1px 10px 1px #3F3F3F;
}
.modal .modal-body img {
  width: 100%;
}
.modal .modal-body button.close {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  border-radius: 100px;
  position: relative;
  margin-top: -15px;
  float: right;
  top: -10px;
  right: -10px;
  color: #fff;
  cursor: pointer;
}
.modal .modal-body .couple-container {
  width: 100%;
  margin: auto;
}
.modal .modal-body .couple-container .owl-controls .owl-buttons div {
  border-radius: 3px;
  top: 45%;
  position: absolute;
  padding: 10px 20px;
  font-family: 'Roboto' sans-serif;
  font-size: 2rem;
  font-style: normal;
  line-height: 2.5rem;
}
.modal .modal-body .couple-container .owl-controls .owl-buttons .owl-next {
  right: 0;
}
.modal .modal-body .couple-container .owl-controls .owl-buttons .owl-prev {
  left: 0;
}
.modal .modal-body .story-banner h2 {
  font-family: 'Satisfy', sans-serif;
  text-align: center;
  background: #8c489f;
  position: relative;
  width: 100%;
  margin-left: -0.5em;
  font-size: 2rem;
  color: white;
  line-height: 3rem;
}
.modal .modal-body .story-banner h2:before {
  width: 0.5em;
  height: 100%;
  top: -10px;
  left: -0.5em;
  position: absolute;
  content: "";
  border-top: 0.4em solid transparent;
  border-right: 0.5em solid #000;
  z-index: -1;
}
.modal .modal-body .story-container {
  padding: 5px 15px;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.modal .modal-body .story-container .back-home {
  cursor: pointer;
  float: right;
  width: 80px;
  font-size: 1rem;
  line-height: 2rem;
  font-family: 'Satisfy', cursive;
  color: #8c489f;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-open .modal {
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
/*
 * Tablets
 */
@media (min-width: 481px) {
  .main-container img.compass {
    right: 5%;
    bottom: 5%;
  }
  .main-container .center-container .reception-information {
    top: -30px;
  }
  .main-container .center-container .reception-information h2 {
    font-size: 2rem;
  }
  .main-container .center-container .reception-information .cursive {
    font-size: 2rem;
  }
  .main-container .center-container .reception-information .time-container p {
    font-size: 1.7rem;
    width: 50%;
    margin: 0;
  }
  .main-container .center-container .reception-information .location-banner h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
/*
 * Desktop
 */
@media (min-width: 769px) {
  .main-container h1 {
    font-size: 3rem;
  }
  .main-container .center-container .splash-container {
    width: 50%;
  }
  .main-container .center-container .splash-container .banner-container {
    /*
			 * Banner Strip Before:After Start
			 */
    /*
			 * Banner Strip Before:After End
			 */
  }
  .main-container .center-container .splash-container .banner-container .banner-left {
    height: 130px;
    border-right: 70px solid #8c489f;
    border-bottom: 50px solid transparent;
  }
  .main-container .center-container .splash-container .banner-container .banner-right {
    height: 130px;
    border-left: 70px solid #8c489f;
    border-bottom: 50px solid transparent;
  }
  .main-container .center-container .splash-container .banner-container .banner-date {
    line-height: 10rem;
    padding: 0 60px;
  }
  .main-container .center-container .splash-container .banner-container .banner-date h2 {
    font-size: 6rem;
  }
  .main-container .center-container .splash-container .banner-container .banner-left-strip {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .main-container .center-container .splash-container .banner-container .banner-right-strip {
    right: 0;
    top: 0;
    position: relative;
    z-index: 1;
  }
  .main-container .center-container .splash-container .banner-container .banner-left-strip:before,
  .main-container .center-container .splash-container .banner-container .banner-left-strip:after,
  .main-container .center-container .splash-container .banner-container .banner-right-strip:before,
  .main-container .center-container .splash-container .banner-container .banner-right-strip:after {
    content: " ";
    position: absolute;
    height: 0px;
    z-index: -1;
  }
  .main-container .center-container .splash-container .banner-container .banner-left-strip:before,
  .main-container .center-container .splash-container .banner-container .banner-left-strip:after {
    top: 60px;
    left: -90px;
    border-left: 50px solid transparent;
  }
  .main-container .center-container .splash-container .banner-container .banner-left-strip:before {
    border-top: 60px solid #c3c3e5;
    width: 50px;
  }
  .main-container .center-container .splash-container .banner-container .banner-left-strip:after {
    border-bottom: 60px solid #c3c3e5;
    width: 110px;
    top: 120px;
  }
  .main-container .center-container .splash-container .banner-container .banner-right-strip:before,
  .main-container .center-container .splash-container .banner-container .banner-right-strip:after {
    border-right: 50px solid transparent;
  }
  .main-container .center-container .splash-container .banner-container .banner-right-strip:before {
    border-top: 60px solid #c3c3e5;
    width: 70px;
    top: -135px;
    right: -90px;
  }
  .main-container .center-container .splash-container .banner-container .banner-right-strip:after {
    border-bottom: 60px solid #c3c3e5;
    width: 110px;
    top: -75px;
    right: -90px;
  }
  .main-container .center-container .reception-information {
    top: -55px;
  }
  .main-container .center-container .reception-information h2 {
    font-size: 3rem;
  }
  .main-container .center-container .reception-information .curisve {
    font-size: 2.5rem;
  }
  .main-container .center-container .reception-information .time-container p {
    font-size: 2.3rem;
    width: 40%;
  }
  .main-container .center-container .reception-information .location-banner {
    width: 55%;
  }
  .main-container .center-container .reception-information .location-banner h4 {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .modal .modal-body {
    width: 650px;
  }
}
@media (min-width: 1200px) {
  .main-container .center-container .splash-container {
    width: 35%;
  }
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.blink {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-direction: normal;
  -moz-animation-duration: 3.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;
}
